/*
 _____     _     _   ____       _       _                              
|_   _|__ | |__ (_) |  _ \ __ _| |_ ___| |__   ___ _ __ __ _  ___ _ __ 
  | |/ _ \| '_ \| | | |_) / _` | __|_  / '_ \ / _ \ '__/ _` |/ _ \ '__|
  | | (_) | |_) | | |  _ < (_| | |_ / /| |_) |  __/ | | (_| |  __/ |   
  |_|\___/|_.__/|_| |_| \_\__,_|\__/___|_.__/ \___|_|  \__, |\___|_|   
                                                       |___/           

  - Autor: Tobias Ratzberger [office@tobias-ratzberger.at]
  - Publisher: Rudy Ille
  - Copyright: Jonas Born
  - Last Update: 01.05.2017
  - File: style.css
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    margin: 0;
    padding: 0;
}

body { 
    background: url(../img/background.png) no-repeat center center fixed; 
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
}

.content {
    background-color: rgba(0,0,0,0.65);
    height:  100vh;
    font-size: 100px;
    text-align: center;
    color: #BDBDBD;
    letter-spacing: 16px;
}

.content::before {
    display: block;
    content: "";
    height: calc(35% - 60px);
}

.title {
    padding-left: 40px;
}

.content::after {
    vertical-align: top;
    line-height: 0;
    content: "";
}

@media only screen and (max-width: 1400px) {
    .content {
        font-size: 75px;
    }
}

@media only screen and (max-width: 950px) {
    .content {
        font-size: 50px;
    }
}

@media only screen and (max-width: 777px) {
    .content {
        font-size: 35px;
    }
}

.icons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 22.5px;
    letter-spacing: 7.5px;
}

.icons a,
.icons a:visited,
.icons a:active,
.icons a:visited:active {
    color: #757575;
    text-decoration: none;
    transition: color 0.5s;
}

.icons a:hover {
    color: #BDBDBD;
    text-decoration: none;
    transition: color 0.5s;
}
